    <h1>Add a new movie</h1>
        <form action="/create_movie">
            <div>
                <label for="title_input">
                Title
                </label>

                <input id="title_input" type="string" name="the_title">
            </div>
            
            <div>
                <label for="year_input">
                Year
                </label>

                <input id="year_input" type="integer" name="the_year">
            </div>
            
            <div>
                <label for="duration_input">
                Duration
                </label>

                <input id="duration_input" type="integer" name="the_duration">
            </div>
            
            <div>
                <label for="description_input">
                Description
                </label>

                <input id="description_input" type="text" name="the_description">
            </div>
            
            <div>
                <label for="url_input">
                Image URL
                </label>

                <input id="url_input" type="string" name="the_url">
            </div>

            <button>
                Create Movie
            </button>
        </form>