    <h1>Add a new director</h1>
        <form action="/create_director">
            <div>
                <label for="name_input">
                Name
                </label>

                <input id="name_input" type="string" name="the_name">
            </div>
            
            <div>
                <label for="bio_input">
                Bio
                </label>

                <input id="bio_input" type="text" name="the_bio">
            </div>
            
            <div>
                <label for="dob_input">
                Date of birth
                </label>

                <input id="dob_input" type="string" name="the_dob">
            </div>
            
            <div>
                <label for="url_input">
                Image URL
                </label>

                <input id="url_input" type="string" name="the_url">
            </div>

            <button>
                Create Director
            </button>
        </form>